.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

mat-card {
  max-width: 500px;
}
